VITE_SUPABASE_URL="https://lzjzwwcbvihwzntkaiad.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6anp3d2Nidmlod3pudGthaWFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA1NjI0NjEsImV4cCI6MjA5NjEzODQ2MX0.q950Fi8whQYpPv2w7RyDAU165vG4yd77dsCNfibAquY"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6anp3d2Nidmlod3pudGthaWFkIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4MDU2MjQ2MSwiZXhwIjoyMDk2MTM4NDYxfQ.4swJMSXBKVvljTkykRgKdP94To66dgeJFwZETpgP3sA"